<% provide(:title, "About") %>
<h1>About</h1>
<p>This is a sample application for the Ruby on Rails Tutorial. I am just making this application to learn Ruby on Rails, which seems like a lot of fun so far.

</p>


