<h1>Help</h1>
<p>You can get help on the Ruby on Rails Tutorial at the
<a href=http://www.railstutorial.org/#help>Rails Tutorial help section</a>.
This is really just a test page anyways so you just have to help yourself when it comes to this one.
Have a good day.

</p>
